# pandas cheat sheet

In [12]:
df = pd.DataFrame(
{"a" : [4 ,5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [20]:
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]],
index=[1, 2, 3],
columns=['a', 'b', 'c'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [14]:
df = pd.DataFrame(
{"a" : [4 ,5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = pd.MultiIndex.from_tuples(
[('d',1),('d',2),('e',2)],
names=['n','v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [21]:
df1=pd.melt(df)
df1

  variable  value
0        a      4
1        a      5
2        a      6
3        b      7
4        b      8
5        b      9
6        c     10
7        c     11
8        c     12

In [24]:
df2=df1.pivot(columns='variable', values='value')
df2

variable    a    b     c
0         4.0  NaN   NaN
1         5.0  NaN   NaN
2         6.0  NaN   NaN
3         NaN  7.0   NaN
4         NaN  8.0   NaN
5         NaN  9.0   NaN
6         NaN  NaN  10.0
7         NaN  NaN  11.0
8         NaN  NaN  12.0

In [ ]:
pd.concat([df1,df2])
pd.concat([df1,df2],axis=1)

In [ ]:
df.sort_values('mpg')

df.sort_values('mpg',ascending=False)

df.rename(columns = {'y':'year'})

df.sort_index()

df.reset_index()

df.drop(columns=['Length','Height'])

In [ ]:
df[df.Length > 7]

df.drop_duplicates()

df.head(n)

df.tail(n)

In [ ]:
df.sample(frac=0.5)

df.sample(n=10)

df.iloc[10:20]

df.nlargest(n, 'value')

df.nsmallest(n, 'value')

In [ ]:
df.loc[:,'x2':'x4']

df.iloc[:,[1,2,5]]

df.loc[df['a'] > 10, ['a','c']]

In [ ]:
df[['width','length','species']]

df['width'] or df.width

df.filter(regex='regex')

In [ ]:
df = (pd.melt(df)
.rename(columns={
'variable' : 'var',
'value' : 'val'})
.query('val >= 200')
)

In [ ]:
df['w'].value_counts()

len(df)

df['w'].nunique()

df.describe()

In [ ]:
df.dropna()

df.fillna(value)

In [ ]:
df.assign(Area=lambda df: df.Length*df.Height)

df['Volume'] = df.Length*df.Height*df.Depth

pd.qcut(df.col, n, labels=False)

In [ ]:
df.groupby(by="col")

df.groupby(level="ind")

In [ ]:
pd.merge(adf, bdf,
how='left', on='x1')

pd.merge(adf, bdf,
how='right', on='x1')

pd.merge(adf, bdf,
how='inner', on='x1')

pd.merge(adf, bdf,
how='outer', on='x1')

In [ ]:
pd.merge(ydf, zdf)
Rows that appear in both ydf and zdf
(Intersection).

pd.merge(ydf, zdf, how='outer')
Rows that appear in either or both ydf and zdf
(Union).

pd.merge(ydf, zdf, how='outer',
indicator=True)
.query('_merge == "left_only"')
.drop(columns=['_merge'])

In [ ]:
adf[adf.x1.isin(bdf.x1)]

adf[~adf.x1.isin(bdf.x1)]

In [ ]:
df.plot.hist()

df.plot.scatter(x='w',y='h')